// -------- Color theming variables --------
$primary: #0D3059;
$secundary: #A5ABBD;
$primary-base50: #717788;
$primary-base25: #551C2A;
$primary-base25: #8A4B57;

$grey: #f1f1f3;
$grey-dark: #6f6f6f;

$background-table: $grey;
$border-table: $grey-dark;