// -------- Main --------

// Mixins and variables
@import "support/index";

// Core modules
@import "base/index";

// Grid
@import "layout/index";

// Helper clases
@import "utilities/index";


svg {
    display: block;
    margin: auto;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}